{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":246,"scrollleft":0,"selection":{"start":{"row":26,"column":17},"end":{"row":26,"column":17},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":38,"state":"start","mode":"ace/mode/text"}},"timestamp":1574638102436,"hash":"50ecbf5225e994d33d1d53c25048e9d894deb9ff"}