/* ---------- All ----------*/

html,
body {
    scroll-behavior: smooth;
}

body {
    position: relative;
    height: 100%;
    min-height: 100vh;
}

.main-content {
    min-height: 100%;
    padding-bottom: 436px;
}

/* ---------- Main Nav Bar ----------*/

.navbar-container {
    position: fixed;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 64px;
    line-height: 64px;
    -webkit-transition: background-color 0.3s ease-in, -webkit-box-shadow 0.3s ease-in;
    transition: background-color 0.3s ease-in, -webkit-box-shadow 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in;
    transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in;
    transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in, -webkit-box-shadow 0.3s ease-in;
    z-index: 1000;
}

.logo-image {
    background: url(../images/main-logo-image.png);
}

#recipes-logo {
    float: right;
}

.recipe-logo-image {
    width: 95px;
    -webkit-transition: width 0.15s ease-in;
    -o-transition: width 0.15s ease-in;
    transition: width 0.15s ease-in;
    margin: 10px 20px 0;
}

.brand-logo {
    right: 3 !important;
}

.tabs {
    height: 64px;
}

.tab a {
    font-size: 1.2em !important;
    text-transform: uppercase;
}

.tab {
    line-height: 61px !important;
}

.navbar-listing .active {
    background-color: transparent;
    border-bottom: 3px solid #fff;
}

.side-nav {
    padding: 64px 0 0 0;
    z-index: 10000;
}


/* ---------- Main Image ----------*/

.title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.main-heading-column {
    background-color: #000000a6;
    border-radius: 10px;
}

.title-container .row {
    opacity: 0;
    -webkit-filter: blur(100px);
    filter: blur(100px);
    -webkit-animation: FadeInGreeting 1.5s 1s forwards ease-in-out;
    animation: FadeInGreeting 1.5s 1s forwards ease-in-out;
}

.title-container h1 {
    text-align: center;
    font-size: 2.4rem;
}

.search-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.down-arrow-link {
    color: white;
}

.down-arrow {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: absolute;
    left: 49vw;
    right: 50vw;
    font-size: 3.7rem !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    animation: scrollDown 0.4s alternate-reverse infinite cubic-bezier(1, -0.01, 0.79, 0.54);
}

.main-image-container {
    background: url(../images/recipe-nest-main-image.png) fixed center center no-repeat;
    min-height: 100%;
    min-width: 100%;
}

.main-recipe-images-column {
    padding: 0 !important;
}

main-recipe-images-column {
    height: 80vh;
}

.opaque-background {
    background-color: #00000061;
}


/* ---------- Home Page Search Bar ----------*/

.recipe-label {
    color: #fff;
}

.input-field input[type=text]:focus+label {
    color: #fff;
}


.input-field input[type=text]:focus {
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 1px 0 0 #000;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 1px 0 0 #fff;
    box-shadow: 0 1px 0 0 #fff;
}

.input-field input[type=text].invalid {
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 1px 0 0 #fff;
    box-shadow: 0 1px 0 0 #fff;
}

.input-field input:focus+label {
    color: #42a5f5 !important;
}

.row .input-field input:focus {
    border-bottom: 1px solid #42a5f5 !important;
    -webkit-box-shadow: 0 1px 0 0 #42a5f5 !important;
    box-shadow: 0 1px 0 0 #42a5f5 !important;
}

.recipe-search-bar:focus {
    border-bottom: 1px solid #42a5f5 !important;
    -webkit-box-shadow: 0 1px 0 0 #26a69a !important;
    box-shadow: 0 1px 0 0 #42a5f5 !important;
}


/* ---------- Home Page Cards ----------*/

.recipe-card {
    background-color: #fff;
    padding: 20px;
    margin: 6em 2em;
    border-radius: 10px;
    text-align: center;
}

.recipe-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    margin: auto;
}

.recipe-view-more-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}


/* ---------- Footer ----------*/

.page-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 436px;
}

.footer-bottom {
    clear: both;
    text-align: center;
}

.footer-text {
    height: 140px
}

.footer-links a {
    color: #ddd;
}

.footer-links .active a {
    color: #fff;
}


/* ---------- Back to top icon ----------*/

.to-top {
    color: white;
    padding-top: 1.8em;
    display: inline-block;
    /* or block */
    position: fixed;
    bottom: 30px;
    right: 45px;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    opacity: 0;
    z-index: 1000;
}

.to-top:before {
    content: url(../images/chevron-up.png);
    font-size: 1.9em;
    position: absolute;
    text-align: center;
    background-color: #00000050;
    top: 0;
    left: 50%;
    margin-left: -.7em;
    border: solid .13em white;
    border-radius: 10em;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.3em;
    border-color: inherit;
    -webkit-transition: -webkit-transform .5s ease-in;
    transition: -webkit-transform .5s ease-in;
    -o-transition: transform .5s ease-in;
    transition: transform .5s ease-in;
    transition: transform .5s ease-in, -webkit-transform .5s ease-in;
}

.to-top:hover {
    border-color: #42a5f5;
}

.to-top:hover:before {
    content: url(../images/chevron-up-blue.png);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}


/* ---------- Creating Recipe Form ----------*/

.create-recipe-fields {
    margin-bottom: 40px;
}

.creating-recipe-form {
    border: 1px solid grey;
    padding: 6vw !important;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 5px grey;
    box-shadow: 2px 2px 5px grey;
}

.required-asterisk {
    color: red;
}

/* Validation */

.insert-recipe-name-validation,
.insert-recipe-ingredients-validation,
.insert-recipe-description-validation,
.insert-recipe-instructions-validation,
.insert-recipe-keywords-validation,
.insert-recipe-image-url-validation {
    display: none;
}

.insert-recipe-name-validation-flag,
.insert-recipe-ingredients-validation-flag,
.insert-recipe-description-validation-flag,
.insert-recipe-instructions-validation-flag,
.insert-recipe-keywords-validation-flag
.insert-recipe-image-url-validation-flag {
    display: block;
    color: red;
    font-style: italic;
    font-size: 0.9rem;
}


/* ---------- Text Area ----------*/

.input-field textarea:focus+label {
    color: #42a5f5 !important;
}

.row .input-field textarea:focus {
    border-bottom: 1px solid #42a5f5 !important;
    -webkit-box-shadow: 0 1px 0 0 #42a5f5 !important;
    box-shadow: 0 1px 0 0 #42a5f5 !important
}

.recipe-button-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/* ---------- Recipe Listing ----------*/

.recipe-container-heading .recipe-container-column {
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#fff));
    background: -o-linear-gradient(#000, #fff);
    background: linear-gradient(#000, #fff);
    height: 130px;
    width: 100%;
}

.recipe-listing-column {
    margin: 60px;
    margin: 1.5rem auto 1.5rem;
    text-align: center;
}

.search-recipe-listing-label {
    color: #000;
}


/* ---------- Recipe Cards ----------*/

#recipe-container-main {
    background-color: #fff;
}

.down-arrow {
    position: absolute;
    left: 50%;
}

.card-surrounding {
    max-width: 265px;
    margin: auto;
}

.card {
    margin: 2.5rem 0 2.5rem 0;
}

.recipe-image {
    padding: 10px;
    border-radius: 15px !important;
}

.most-viewed-divider {
    width: 150px;
}

.mostly-viewed-heading-column {
    margin: 60px;
    margin: 5.5rem auto 1.5rem;
}

.mostly-viewed-heading-column h5 {
    text-align: center;
    margin: auto;
}

#recipe-container-main .row {
    margin: 0;
}

#recipe-container-main .col {
    padding: 0 2.75rem;
}

.recipe-name,
.recipe-close {
    position: relative;
    width: 100%;
    font-size: 1.1rem !important;
    font-weight: 400 !important;
}

.recipe-name i {
    top: 0;
    right: -15px;
}

.recipe-close i {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 30px;
    margin-right: 12px;
}

.card-title-spacer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 120px;
}

.more-info {
    position: absolute;
}

.button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}


/* ---------- Individual Recipe Page ----------*/

.recipe-page-image {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.recipe-ingredients li,
.recipe-insturctions li {
    list-style-type: disc;
}

.recipe-description-row {
    height: 300px;
}

.edit-and-delete-buttons {
    float: right;
}

.back-button span:nth-child(1) {
    display: inline;
    cursor: pointer;
    font-weight: bold;
}


/* ---------- Edit Recipe Form ----------*/

.edit-recipe-form {
    border: 1px solid grey;
    padding: 6vw !important;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 5px grey;
    box-shadow: 2px 2px 5px grey;
}


/* ---------- Error 404 Page  ----------*/

.error-404-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 100px;
}

.error-404-row img {
    width: 250px;
}

.error-404-row h3 {
    margin: 1.46rem 0 .168rem 0;
}

.error-404-row h4,
.error-404-row h5 {
    text-align: center;
}

.error-404-home-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.error-404-divider {
    width: 65px;
}


/* ---------- Bread Crumb ----------*/

.bread-crumb-navigator {
    color: black;
    font-weight: bold;
}

.bread-crumb-navigator::after {
    content: " >";
}

.bread-crumb-navigator:hover {
    text-decoration: underline;
}


/* ---------- Media Queries ----------*/

@media only screen and (max-width: 315px) {
    .delete-recipe-button {
        margin-top: 5px;
    }
}

@media only screen and (min-width: 480px) {
    section {
        width: 480px;
        margin: auto;
    }
}

@media only screen and (max-width: 500px) {
    .edit-and-delete-buttons {
        float: none;
        padding-left: 10px;
    }
}

@media only screen and (min-width: 768px) {
    section {
        width: 768px;
        margin: auto;
    }
}

@media only screen and (min-width: 993px) {
    section {
        width: 992px;
        margin: auto;
    }
    #recipes-logo {
        float: left;
    }
    .recipe-row {
        width: 992px;
        margin: auto !important;
    }
    .title-container h1 {
        font-size: 3rem;
    }
    .main-content {
        padding-bottom: 311px;
    }
    .page-footer {
        height: 311px;
    }
    
}

@media only screen and (min-width: 1050px) {
    .main-image-container {
        background-size: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    section {
        width: 1200px;
        margin: auto;
    }
    .recipe-row {
        width: 1200px;
        margin: auto !important;
    }
}


/* ---------- Keyframes (Animations) ----------*/

@-webkit-keyframes scrollDown {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 8px;
    }
}

@keyframes scrollDown {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 8px;
    }
}

@-webkit-keyframes FadeInGreeting {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes FadeInGreeting {
    from {
        opacity: 0;
        -webkit-filter: blur(100px);
        filter: blur(100px);
    }
    to {

        opacity: 1;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}
