
/* ---------- Creating Recipe Form ----------*/

.creating-recipe-form {
  border: 1px solid grey;
  padding: 6vw !important;
  border-radius: 20px;
  box-shadow: 2px 2px 5px grey;
}

/* Validation */

.insert-recipe-name-validation,
.insert-recipe-ingredients-validation,
.insert-recipe-description-validation,
.insert-recipe-instructions-validation,
.insert-recipe-image-url-validation {
  display: none;
}


.insert-recipe-name-validation-flag,
.insert-recipe-ingredients-validation-flag,
.insert-recipe-description-validation-flag,
.insert-recipe-instructions-validation-flag,
.insert-recipe-image-url-validation-flag{
  display: block;
  color: red;
}


/* ---------- Text Area ----------*/

.input-field textarea:focus+label {
  color: #42a5f5 !important;
}

.row .input-field textarea:focus {
  border-bottom: 1px solid #42a5f5 !important;
  box-shadow: 0 1px 0 0 #42a5f5 !important
}

.recipe-button-row {
  display: flex;
  justify-content: center;
}
