/* ---------- Main Image ----------*/

.title-container {
    display: flex;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.main-heading-column {
    background-color: #000000a6;
    border-radius: 10px;
}

.title-container .row {
    opacity: 0;
    animation: FadeInGreeting 1.5s 1s forwards ease-in-out;
}

.title-container h1 {
    text-align: center;
    font-size: 2.4rem;
}

.search-button {
    display: flex;
    justify-content: center;
}

.down-arrow-link {
    color: white;
}

.down-arrow {
    display: flex !important;
    position: absolute;
    left: 49vw;
    right: 50vw;
    font-size: 3.7rem !important;
    justify-content: center;
    animation: scrollDown 0.4s alternate-reverse infinite ease-in-out;
}

.main-image-container {
    background: url(../images/recipe-nest-main-image.png) fixed center center no-repeat;
    height: 100%;
}

.main-recipe-images-column {
    padding: 0 !important;
}

main-recipe-images-column {
    height: 80vh;
}

.opaque-background {
    background-color: #00000061;
}

/* label color */

.input-field label {
    color: #fff;
}

/* label focus color */

.input-field input[type=text]:focus+label {
    color: #fff;
}

/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #000;
}

/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}

/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}

/* label focus color */

.input-field input:focus+label {
    color: #42a5f5 !important;
}

/* label underline focus color */

.row .input-field input:focus {
    border-bottom: 1px solid #42a5f5 !important;
    box-shadow: 0 1px 0 0 #42a5f5 !important;
}

.recipe-search-bar:focus {
    border-bottom: 1px solid #42a5f5 !important;
    -webkit-box-shadow: 0 1px 0 0 #26a69a !important;
    box-shadow: 0 1px 0 0 #42a5f5 !important;
}

/* ---------- Recipe Cards ----------*/

#recipe-container {
    background-color: #fff;
}

.card-surrounding {
    max-width: 265px;
    margin: auto;
}

.card {
    margin: 4.5rem 0 3.5rem 0;
}

.recipe-image {
    padding: 10px;
    border-radius: 15px !important;
}

.most-viewed-divider {
    width: 150px;
}

.mostly-viewed-heading-column {
    margin: 60px;
    margin: 5.5rem auto 1.2rem;
}

.mostly-viewed-heading-column h5 {
    text-align: center;
    margin: auto;
}

#recipe-container .row {
    margin: 0;
}

#recipe-container .col {
    padding: 0 2.75rem;
}

.recipe-name,
.recipe-close {
    position: relative;
    width: 100%;
    font-size: 1.1rem !important;
    font-weight: 400 !important;
}

.recipe-name i {
    top: 0;
    right: -15px;
}

.recipe-close i {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 30px;
    margin-right: 12px;
}

.card-title-spacer {
    display: flex;
    height: 120px;
}

.more-info {
    position: absolute;
}

/* ---------- Media Queries ----------*/

@media only screen and (min-width: 1050px) {
    .main-image-container {
        background-size: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .recipe-row {
        width: 1200px;
        margin: auto !important;
    }
}

@media only screen and (min-width: 992px) {
    .recipe-row {
        width: 992px;
        margin: auto !important;
    }
    .title-container h1 {
        font-size: 3rem;
    }
}

/* ---------- Keyframes (Animations) ----------*/

@-webkit-keyframes scrollDown {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 8px;
    }
}

@keyframes scrollDown {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 8px;
    }
}

@-webkit-keyframes FadeInGreeting {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes FadeInGreeting {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
