.recipe-page-image {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.recipe-ingredients li,
.recipe-insturctions li{
    list-style-type: disc;
}

.recipe-description-row {
    height: 300px;
}

.edit-and-delete-buttons {
    float: right;
}

.back-button span:nth-child(1) {
    display: inline;
    cursor: pointer;
    font-weight: bold;
}

/* ---------- Media Queries ----------*/

@media only screen and (max-width: 315px) {
    .delete-recipe-button {
        margin-top: 5px;
    }
}

@media only screen and (max-width: 500px) {
  .edit-and-delete-buttons {
    float: none;
        padding-left: 10px;
    }
}    
