.recipe-container-heading .recipe-container-column {
    background: linear-gradient(#000, #fff);
    height: 130px;
    width: 100%;
}

.recipe-listing-column {
    margin: 60px;
    margin: 1.5rem auto 1.5rem;
    text-align: center;
}

.search-recipe-listing-label {
    color: #000;
}