<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Exteral styles -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/recipe-listing.css')}}" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='/images/favicon.ico') }}" type="image/x-icon" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Recipe Nest</title>
</head>

<body>
    <!-- Main Navbar -->
    <nav class="navbar-container N/A transparent">
        <div class="nav-wrapper">
            <a href="{{ url_for('index') }}" id="recipes-logo">
                <img class="recipe-logo-image" src="static/images/recipe-nest.png" alt="Recipes Logo"/>
            </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down navbar-listing">
                <li class="tab"><a class="tab-link" href="{{ url_for('index') }}">Home</a></li>
                <li class="tab"><a class="tab-link" href="{{ url_for('recipe_listing') }}">List of Recipes</a></li>
                <li class="tab"><a class="tab-link" href="#test3">Create a Recipe</a></li>
            </ul>
        </div>
    </nav>
    <ul class="side-nav" id="mobile-demo">
        <li class="tab"><a class="active" href="{{ url_for('index') }}">Home</a></li>
        <li class="tab"><a href="{{ url_for('recipe_listing') }}">List of Recipes</a></li>
        <li class="tab"><a href="#test3">Create a Recipe</a></li>
    </ul>

    {% block content %} {% endblock %}

    <!-- Footer -->
    <footer class="page-footer blue lighten-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Recipe Nest</h5>
                    <p class="grey-text text-lighten-4"></p>
                    <p class="grey-text text-lighten-4">Recipe Nest was designed to give the user control over recipe ideas. You are given the option to browse for different recipes and if you register and login, you can create your own recipes, make changes to your recipes and delete recipes
                        that you no longer want.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="pages-footer-link" href="{{ url_for('index') }}">Home</a></li>
                        <li><a class="pages-footer-link" href="{{ url_for('recipe_listing') }}">List Of Recipes</a></li>
                        <li><a class="pages-footer-link" href="#!">Create Recipe</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <a class="grey-text text-lighten-4 right" href="https://github.com/CharlieJT/Repices" target="_blank">Find Github Repo Here!</a>
                <div class="footer-bottom">Copyright © Produced by Charlie Tipton</div>
            </div>
        </div>
    </footer>

    <!-- Back to top icon -->
    <a href="#" class="to-top"></a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>
