{% extends 'base.html' %} {% block content %}

<!-- Recipe Navbar & Heading divider -->

<div class="container-fluid recipe-container-heading">
    <div class="row">
        <div class="col recipe-container-column">
            <div class="main-recipe-section" />
        </div>
    </div>
</div>

<!-- Main Heading -->

<div id="recipe-container-listing" class="container-fluid ">
    <div class="row recipe-row">
        <!-- Main Recipes Header -->
        <div class="recipe-listing-column col s12">
            <h5>Why not create your own recipe!</h5>
        </div>
    </div>
</div>



{% endblock %}
