{% extends 'base.html' %} {% block content %}

<!-- Recipe Navbar & Heading divider -->

<div class="container-fluid recipe-container-heading">
    <div class="row">
        <div class="col recipe-container-column">
            <div class="main-recipe-section" />
        </div>
    </div>
</div>

<!-- Input fields for editing a recipe -->

<section>
    <div id="recipe-container-listing" class="container-fluid ">
        <div class="row recipe-row">
            <!-- Main Recipes Header -->
            <div class="recipe-listing-column col s12">
                <h5>Edit your recipe</h5>
            </div>
            <div class="container create-recipe-fields">
                <div class="row">
                    <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12 edit-recipe-form" >
                        <div class="row recipe-name-input-row">
                            <div class="input-field col s12">
                                <input id="create-recipe-listing" value="{{ recipe.recipe_name }}" name="recipe_name" type="text" class="w-100 insert-recipe-name" required>
                                <label for="create-recipe-listing-label">Recipe Name...</label>
                                <span class="helper-text insert-recipe-name-validation" data-error="wrong" data-success="right">*Please enter recipe name</span>
                            </div>
                        </div>
                        <div class="row recipe-description-input-row">
                            <div class="input-field col s12">
                                <input id="create-recipe-listing" value="{{ recipe.recipe_description }}" name="recipe_description" type="text" class="w-100 insert-recipe-description" required>
                                <label for="create-recipe-listing-label">Recipe Description...</label>
                                <span class="helper-text insert-recipe-description-validation" data-error="wrong" data-success="right">*Please enter recipe desciption</span>
                            </div>
                        </div>
                        <div class="row recipe-ingredients-input-row">
                            <div class="input-field col s12">
                                <textarea id="create-recipe-listing" name="recipe_ingredients" type="text" class="w-100 materialize-textarea insert-recipe-ingredients" required>{{ recipe.recipe_ingredients }}</textarea>
                                <label for="create-recipe-listing-label">Recipe Ingredients (Seperate each list item with a fullstop)...</label>
                                <span class="helper-text insert-recipe-ingredients-validation" data-error="wrong" data-success="right">*Please enter recipe ingredients</span>
                            </div>
                        </div>
                        <div class="row recipe-instructions-input-row">
                            <div class="input-field col s12">
                                <textarea id="create-recipe-listing" name="recipe_instructions" type="text" class="w-100 materialize-textarea insert-recipe-instructions" required>{{ recipe.recipe_instructions }}</textarea>
                                <label for="create-recipe-listing-label">Recipe Instructions (Seperate each list item with a fullstop)...</label>
                                <span class="helper-text insert-recipe-instructions-validation" data-error="wrong" data-success="right">*Please enter recipe instructions</span>
                            </div>
                        </div>
                        <div class="row recipe-image-url-row">
                            <div class="input-field col s12">
                                <input id="create-recipe-listing" value="{{ recipe.recipe_image_url }}" name="recipe_image_url" type="text" class="w-100 insert-recipe-image-url" required>
                                <label for="create-recipe-listing-label">Recipe Image URL...</label>
                                <span class="helper-text insert-recipe-image-url-validation" data-error="wrong" data-success="right">*Please enter recipe image url</span>
                            </div>
                        </div>
                        <div class="row recipe-button-row">
                            <button class="btn waves-effect waves-light blue lighten-1 create-recipe-submit-button" type="submit" name="action">Update Recipe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
