{% extends 'base.html' %} {% block content %}

<div class="container-fluid recipe-container-heading">
    <div class="row">
        <div class="col recipe-container-column">
            <div class="main-recipe-section" />
        </div>
    </div>
</div>

<section>
    <div class="container-fluid recipe-page-container">
        <row class="bread-crumb">
            <div class="col back-button">
                <span class="go-back">
                    Back to previous page >
                </span>
                <span>
                    {{ recipe.recipe_name }}
                </span>
            </div>
        </row>
        <div class="row">
            <div class="col">
                <p>Views: {{ recipe.views }}</p>
            </div>
        </div>
        <div class="row recipe-description-row">
            <div class="col s12 l4">
                <img class="recipe-page-image" src="{{recipe.recipe_image_url}}" alt="Recipe Page Image" />
            </div>
            <div class="col s12 l8 recipe-description-column">
                <h4>{{ recipe.recipe_name.upper() }}</h4>
                <div class="recipe-description">
                    <h5>Description:</h5>
                    <p>{{ recipe.recipe_description }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6">
                <h3>Ingredients</h3>
                <ul class="recipe-ingredients">
                    {% for i in recipe.recipe_ingredients.split('.') %}
                    <li>{{ i }}.</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col s12 l6">
                <h3>Instructions</h3>
                <ul class="recipe-insturctions">
                    {% for recipe_instruction in recipe.recipe_instructions.split('.') %}
                    <li>{{ recipe_instruction }}.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


</section>

{% endblock %}
