{% extends 'base.html' %} {% block content %}

<!-- Recipe Navbar & Heading divider -->

<div class="container-fluid recipe-container-heading">
    <div class="row">
        <div class="col recipe-container-column">
            <div class="main-recipe-section" />
        </div>
    </div>
</div>

<!-- Most viewed Recipe Cards -->

<div id="recipe-container-listing" class="container-fluid ">
    <div class="row recipe-row">
        <!-- Main Recipes Header -->
        <div class="recipe-listing-column col s12">
            <h5>'{{ results|length }}' {{title}} <em>'{{query}}'</em></h5>
        </div>
        <div class="container">
            <div class="row">
                <form class="col s12" action="{{ url_for('search') }}">
                    <div class="row search-bar-row">
                        <div class="input-field col s12">
                            <input id="search-recipe-listing" name="query" type="text" class="validate">
                            <label for="search-recipe-listing-label">Search for recipe...</label>
                            <div class="search-button">
                                <button class="btn waves-effect waves-light blue lighten-1" type="submit" name="action">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Each recipe card -->
        {% if results|length > 0 %}
            {% for recipe in results %}
                <div class="col s12 m6 l4 card-container-listing">
                    <div class="card-surrounding">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator recipe-image" src="{{recipe.recipe_image_url}}">
                            </div>
                            <div class="card-content">
                                <div class='card-title-spacer'>
                                    <div class="card-title activator grey-text text-darken-4 recipe-name">{{recipe.recipe_name}}<i class="material-icons right more-info">more_vert</i></div>
                                </div>
                                <div class="button-container">
                                    <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                                        <button class="btn waves-effect waves-light blue lighten-1" type="submit" name="action">View Recipe</button>
                                    </a>
                                </div>
                            </div>
                            <div class="card-reveal recipe-close">
                                <span class="card-title grey-text text-darken-4">{{recipe.recipe_name}}<i class="material-icons right">close</i></span>
                                <p>{{recipe.recipe_description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            {% endfor %}
        {% else %}
            <div>No Results Found</div>
        {% endif %}
    </div>
</div>


{% endblock %}